### To create a circular bullet point
1. A hyphen (-) followed by one or two spaces, for example: - Bulleted item
2. Numbered lists
To create a numbered list, enter 1. followed by a space

# Python Basics

## Strings

## strings are immutabe in python
 - In Python, string is a sequence of unicode characters
 - strings are immutable, meaning once a string is created, it cannot be changed

In [1]:
name = "baber"
print(name[0])

name[0] = "B"

#we can do this
name =  "khan"

b

TypeError: 'str' object does not support item assignment

### Slicing 
is a technique in Python to access a portion (substring) of a sequence such as a string, list, or tuple
sequence[start:stop:step]
where start is exclusive and step is optional

In [2]:
print(name[0:3])
print(name[1:3])

bab
ab

### multiline string

In [11]:
information = '''baber raheem
universtiy of engineering and technology mardan
live in Swabi
'''
print(information)

baber raheem
universtiy of engineering and technology mardan
live in Swabi

### Concatenation of strings

Concatenation is the process of joining two or more strings together. In Python, you can concatenate strings using several methods:
1. Using the + Operator
2. Using the join() Method
3. Using Formatted Strings (f-strings)
4. Using the format() Method

In [ ]:
str1 = "Uet"
str2 = "Mardan"

# Using the + Operator
print(str1+str2)

# Using the join() Method
strlist = ["uet","mardan"]
result = " ".join(strlist)
print(result)

#using the formatted string (f-strings) 
# note: Formatted strings (f-strings) are concise and efficient, introduced in Python 3.6.
message = f"Hello! I am Baber Raheem Yousafzai studying in {str1}{str2}"
print(message)

# example 2


s1 = "totoal universities in kpk is "
s2 = 25
#print(s1+s2) #error

#error due to different data type 
#lets convert the 25 to string datatype

str(s2)
print(s1+str(s2))

### string iteration

In [21]:
name = "BABAR"

#Lets we want to find the total number of "B" in the string name

def search_character(string):
    
    
    count = 0
    for i in string:
        
        if i == "B":
            count += 1
            
        
    
    return count


string = "BABER"
count = search_character(string)

if count == 0:
     print("the character is not found")
    
else:
   
     print(f''' 
            the character is not found!
            total number of "B" is {count}
    
        ''')

            the character is not found!
            total number of "B" is 2

# lists(data structure)

A list in Python is a collection of items that are ordered and mutable.
Can have duplicate items in a list.
Can have muliple datatype items
Lists in Python are denoted by square brackets [].

In [21]:
my_list = [1, 2, 3, 4, 5]
print(my_list[-1])
mixed_list = [1, "apple", True, 3.14] 
items = ["bread",'pasta','fruits','veggies']


# to append a new item in string list
items.append("butter")
print(items)

#let we want to move veggies to second index place in item list
items.insert(1,"vigitables")
print(items)

#cancatenation of lists
list1 = ['baber','raheem']
list2 = ['shayan','zeshan']
list3 = list1 + list2
print(list3)

#length of list
len(list3)

#delete an item
del list3[1]
print(list3)

#iteration through lists

for i in my_list:
    print(i)

5
['bread', 'pasta', 'fruits', 'veggies', 'butter']
['bread', 'vigitables', 'pasta', 'fruits', 'veggies', 'butter']
['baber', 'raheem', 'shayan', 'zeshan']
['baber', 'shayan', 'zeshan']
1
2
3
4
5

## List comprehensions

List comprehensions provide a concise way to create lists in Python. They consist of brackets containing an expression followed by a for clause, and then optionally additional for or if clauses. List comprehensions are used to generate new lists by applying an expression to each item in a sequence or iterable.List comprehensions are a powerful feature in Python that can make your code more compact and readable.

In [8]:
# [expression for item in iterable]

evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

* Other Useful Methods
* len(): Get the number of elements in the list.
* sort(): Sort the list.         it changes the order of the elements in the original list
* reverse(): Reverse the order of the list.
* index(): Find the index of an element.
* count(): Count occurrences of an element.

In [20]:
#sort()
marks = [123, 22, 12, 12 , 232,54]
marks.sort()
print(marks)                     #[12, 22, 54, 123, 232]

#reverse()                        
marks.reverse()                     
print(marks)                    #[232, 123, 54, 22, 12]

index = marks.index(22)
print(index)                    #3

#count()
count = marks.count(12)
print(count)                    #2

#iteration through list

for i in marks:
    print(i)

[12, 12, 22, 54, 123, 232]
[232, 123, 54, 22, 12, 12]
3
2
232
123
54
22
12
12

# Tuples
- tuples is similar to list 
- tuples are immutable where the lists are mutable

In [8]:
#empty tuple

tpl = ()

#having intergers

tpl1 = (1,2,3,4)
print(tpl1)

#having mixed datatype

tpl2 = (1,2,"ali",3,"four",'c')
print(tpl2)

#nested tuple
nest_tuple = (1,2,3,(4,5,[6,7,8]))
print(nest_tuple)

test_t = ("ali") #this will be considere as string
test_t = ("ali",) #this will be considere as tuple as the perenteces does't matter
print(test_t)
type(test_t)

(1, 2, 3, 4)
(1, 2, 'ali', 3, 'four', 'c')
(1, 2, 3, (4, 5, [6, 7, 8]))
('ali',)

tuple

# accessing the elements of tuple

In [28]:
tpl2 = (1,2,"ali",3,"four",'c')
tpl = (1,2,3)
for items in tpl2:
    print(items)
    
#to iterate through nested tuple
n_tuple = (1,2,[3,4])
print(n_tuple[:3])

#to iterate through list

print(n_tuple[2])
print(n_tuple[2][1])  #4

1
2
ali
3
four
c
(1, 2, [3, 4])
[3, 4]
4


## deleting tuple 
- we can not delete an item from tuple bc tuples are immutable unlike a list
- we have to dele the entire tuple

In [33]:
tpl = [1,2,3]
del(tpl)

#sorting the tuple
t1 = (1,4,3,2)
t1_sort = sorted(t1)
print(t1)
print(t1_sort)

(1, 4, 3, 2)
[1, 2, 3, 4]